@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* Mặc định là Light Mode */
    --bg-app: #ffffff;
    --bg-card: #f9fafb;
    --text-primary: #1f2937;
    --text-secondary: #6b7280;
    --border-color: #b5b8bd;
}

.dark {
    /* Dark Mode */
    --bg-app: #0f1115;
    --bg-card: #1c1e24;
    --text-primary: #e5e7eb;
    --text-secondary: #9ca3af;
    --border-color: rgba(255, 255, 255, 0.05);
}

body {
    background-color: var(--bg-app);
    color: var(--text-primary);
    transition: background-color 0.3s, color 0.3s;
}

/* Custom Scrollbar toàn dự án */
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background: var(--text-secondary);
    border-radius: 4px;
}

/* Áp dụng cho toàn bộ trang web */
*::-webkit-scrollbar {
    width: 8px;
    /* Độ rộng scrollbar (tăng lên 8px cho dễ thao tác hơn 4px) */
    height: 8px;
    /* Độ rộng cho thanh cuộn ngang */
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background: #374151;
    /* Màu của thanh trượt */
}

*::-webkit-scrollbar-thumb:hover {
    background: #4b5563;
    /* Màu khi di chuột vào */
}